Source: qperf
Maintainer: Scibian Project <packaging@scibian.org>
Section: utils
Priority: extra
Standards-Version: 3.9.8
Vcs-Git: https://github.com/scibian/qperf.git
Vcs-Browser: https://github.com/scibian/qperf
Build-Depends: debhelper (>= 10),
               dh-autoreconf,
               libibverbs-dev,
               librdmacm-dev,

Package: qperf
Architecture: linux-any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Measure socket and RDMA performance
 qperf measures bandwidth and latency between two nodes. It can work
 over TCP/IP as well as the RDMA transports.
